*{margin:0;padding:0}
body{font-size:12px;font-family:Arial,sans-serif;color:#fff;background:#444;height:100%;line-height:19px;}
p{margin:0 0 5px 0}
.clear{clear:both}
.cf:before,.cf:after,.item-page:before,.item-page:after{content:"";display:table}
.cf:after,.item-page:after{clear:both}
.cf,.item-page{zoom:1}
img:hover {opacity: .6;cursor: pointer}
a img{border:0}
a{color:#fff;text-decoration:underline}
a:hover{color:#fff;text-decoration:none}
:focus{outline:none}
ul li{list-style:none}
h1,h2,h3{text-align:left;font-weight:normal}

#container{width:831px;margin:0 auto;padding:61px 0 0 0;background:#101011}
#header_all{width:100%;position:fixed;top:0;left:0;background:#333;border-bottom:#333 1px solid}
#header{width:831px;margin:0 auto;position:relative;height:60px;background:#101011}
#logo{position:absolute;top:10px;left:20px;width:137px;height:60px}
#logo a{width:202px;height:43px;background:url(logo.png) no-repeat center;text-indent:-9999px;display:block;
-webkit-transition: opacity 0.2s ease;
-moz-transition: opacity 0.2s ease;
-o-transition: opacity 0.2s ease;
transition: opacity 0.2s ease;
}
#logo a:hover {opacity: .6;}
#menu{position:absolute;left:420px;top:0}
#menu li{float:left;position:relative;padding:0 32px 0 0}
#menu a{font-size:10px;display:block;color:#16cbff;text-decoration:none;font-weight:bold;text-transform:uppercase;line-height:60px}
#menu a:hover{color:#5cdaff;text-decoration:none;opacity: .6;}

.post{width:365px;padding:25px 25px 18px 25px;border-right:1px solid #333;border-bottom:1px solid #333;float:left;background:#111}
.lastpost{border-right:0}
.post-image img{width:365px;height:400px;}

#footer_all{width:100%;background:#333;}
#footer{width:806px;margin:0 auto;padding:20px 0 50px 25px;background:#101011}
.footer-col{float:left;width:136px;margin:60px 25px 0 0}
#footer-browse{width:50%;margin:60px 0 0 0}
#footer h3{font-size:12px;font-weight:bold;text-transform:uppercase;margin:0 0 10px 0;color:#999}
#footer-browse ul{float:left;margin:0 25px 0 0}
#footer li{color:#888;font-size:11px;font-weight:bold;text-decoration:none;display:block;padding:1px 0;width:400px}
#footer a:hover{color:#fff;text-decoration:none}
#footer-copyright {width:831px;margin: 0 auto;background:#101011;border-top:1px solid #333;bottom:0}
#footer-copyright p {padding: 5px 20px;color:#666;font-size:11px;background: url(copyright.png) no-repeat left;margin-left:10px;}
#footer-copyright a{color:#444;text-decoration:none;}
#footer-copyright a:hover {opacity: .6;}
span.h {color:#00C4FD;font-size:14px;font-weight:bold}

.pagebar{clear:both;padding:10px 0;background:#111;border-bottom:1px solid #333;}
.pagebar .break{font-size:13px;margin-left:30px;display:block;padding:10px 20px 0 20px;color:#666;text-decoration:none;}
.pagebar .this-page{color:#16cbff;font-size:14px;margin:20px;font-weight:bold;display:block;}
p.pageboder {border-bottom:1px solid #333;margin:20px 0;padding:0;}

.about {background: url(about.png) no-repeat left;margin-left:10px;padding:0 10px 0 30px;}
.service {background: url(service.png) no-repeat left;margin-left:10px;padding:0 10px 0 30px;}
.contact {background: url(contact.png) no-repeat left;margin-left:10px;padding:0 10px 0 30px;}

/*Markdown*/
